<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <h1>PROFILE</h1>
    <h1>{{user_name}}</h1>
    <p>{{phone}}</p>
    <p>{{email}}</p>
    <nav class="navbar">
        <ul class="nav_links">
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/Logout">Logout</a></li>
        </ul>
    </nav>
    <form action="psw" method="post">
        <input type="submit" value="Change Password">
    </form>
</body>

</html>